.paragraph {
  display: none;
}

.paragraph_link {
  /*background-color: #3366cc;*/
  border: none;
  border-radius: 10px;
  color: blue;
  padding: 15px 32px;
  text-align: center;
  text-decoration: underline;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
}

